@font-face {
    font-family: 'Raleway-Regular';
    src: url(../policies/Raleway/Raleway-Regular.ttf);
}

@font-face {
    font-family: 'Raleway-SemiBold';
    src: url(../policies/Raleway/Raleway-SemiBold.ttf);
}

@font-face {
    font-family: 'Raleway-Thin';
    src: url(../policies/Raleway/Raleway-Thin.ttf);
}
@font-face {
    font-family: 'Raleway-Bold';
    src: url(../policies/Raleway/Raleway-Bold.ttf);
}

ul {
    list-style-type: none;
}


body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Raleway-Regular', sans-serif;
    font-size: 16px;
    margin: 0;
}

/* ----------------- LE HEADER ----------------------------------------- */

header {
    margin-top: 2%;
    margin-left: 4%;
    margin-right: 4%;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}
nav .nav__titre {
    background-image: url(../images/logo/Booki.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100px;
    height: 75px;
    margin-left: 15px;
    margin-top: 10px;
}
nav ul {
    display: flex;
    justify-content: space-between;
    font-family: 'Raleway-SemiBold',sans-serif;
}
nav ul li {
    margin-right: 35px;
    margin-left: 20px;
}
nav ul li a {
    text-decoration: none;
    color: black;
    padding-top: 45px;
    padding-right: 20px;
    padding-left: 20px;
    transition: all 250ms;
}
nav ul li a:hover {
    color: #0065FC;
    border-top: 3px solid #0065FC;
    transition: all 150ms;
}

.hero h1 {
    font-family: 'Raleway-Bold', sans-serif;
    font-size: 24px;
}
.hero p {
    margin-top: -10px;
    font-size: 16px;
}

.recherche {
    margin-top: -20px;
}
.recherche img {
    position: relative;
    top: 18px;
    background-color: #F2F2F2;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 12px;
    padding-bottom: 13px;
    margin-right: -5px;
    border-radius: 15px 0px 0px 15px;
}
.recherche input {
    font-family: 'Raleway-Bold', sans-serif;
    color: black;
    font-size: 18px;
    padding-left: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 2px solid #F2F2F2;
}
.recherche ::placeholder {
    font-family: 'Raleway-Bold', sans-serif;
    color: black;
}
.recherche button {
    background-color: #0065FC;
    color: white;
    font-family: 'Raleway-SemiBold', sans-serif;
    font-size: 18px;
    padding: 14px;
    border-style: none;
    border-radius: 0px 15px 15px 0px;
    margin-left: -5px;
}
.recherche button:hover {
    cursor: pointer;
}

.filtres {
    align-items: center;
    display: flex;
    font-size: 18px;
    color: black;
    font-family: 'Raleway-Bold', sans-serif;
    transform-origin: left;
}
.filtres ul {
    display: flex; 
}
.filtres ul li {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-right: 20px;
    padding-right: 20px;
    border: 2px solid #F2F2F2;
    border-radius: 250px;
    transform: scale(1.0);
    transform-origin: left;
    transition: all 500ms;
}
.filtres ul li:hover {
    transform: scale(1.1);
    transition: transform 300ms, background-color 550ms, color 550ms;
    background-color: #0065FC;
    color: white;
}
.filtres ul li .filtres__icon {
    align-items: center;
    padding: 10px;
    padding-top: 15px;
    padding-left: 16px;
    padding-right: 16px;
    margin-right: 10px;
    background-color: #DEEBFF;
    border-radius: 300px;
}

.infologement {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}
.infologement img {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #F2F2F2;
    border-radius: 300px;
    margin-right: 10px;
}



/* ---------------------- LA SECTION HEBERGEMENT MARSEILLE ------- */ 

#hebergementsMarseille {
    margin-left: 4%;
    margin-right: 4%;
    align-items: center;
    display: flex;
    height: 650px;
}
.hebergementsMarseille__hebergements {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    min-width: 60%;
    margin-right: 5%;
    border-radius: 20px;
    height: 100%;
}
h3 {
    font-size: 24px;
    font-family: 'Raleway-Bold', sans-serif;
    padding-left: 3.5%;
    padding-top: 25px;
}
.liste-hebergements {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    left: 15px;
}
.hebergement {
    text-decoration: none;
    color: inherit;
    display: block;
    min-width: 26%;
    background: white;
    margin-right: 5%;
    min-width: 26%;
    display: flex;
    flex-direction: column;
    border: solid 5px white;
    border-radius: 15px;
    margin-bottom: 30px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
    transform: scale(1.0);
    transition: transform 300ms;
}
.hebergement:hover {
    transform: scale(1.1);
    transition: transform 300ms;
    cursor: pointer;
}
.photo1, .photo2, .photo3, .photo4, .photo5, .photo6 {
    min-width: 25%;
    min-height: 110px;
    background-repeat: no-repeat;
    background-size: 105%;
    background-position: center;
    border-radius: 15px 15px 0px 0px;
}
.photo1 {
    background-image: url(../images/hebergements/3_medium/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
}
.photo2 {
    background-image: url(../images/hebergements/3_medium/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
}
.photo3 {
    background-image: url(../images/hebergements/3_medium/reisetopia-B8WIgxA_PFU-unsplash.jpg);
}
.photo4 {
    background-image: url(../images/hebergements/3_medium/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
}
.photo5{
    background-image: url(../images/hebergements/3_medium/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
}
.photo6{
    background-image: url(../images/hebergements/3_medium/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
}
.hebergement__titre {
    font-size: 16px;
    color: black;
    font-family: 'Raleway-Bold', sans-serif;
    padding-left: 5px;
    margin-top: 10px;
    margin-bottom: 3px;
}
.description {
    padding-left: 5px;
}
.nuit {
    font-size: 14px;
}
.prix {
    font-family: 'Raleway-semiBold', sans-serif;
}
.note {
    padding-top: 3px;
    padding-left: 5px;
}
.afficherplus {
    font-family: 'Raleway-Bold', sans-serif;
    font-size: 18px;
    padding-left: 3.5%;
    margin-top: 20px;
}



/* ---------- SECTION HEBERGEMENTS POPULAIRES ---------- */

.hebergementsMarseille__populaires {
    background-color: #F2F2F2;
    min-width: 35%;
    border-radius: 15px;
    height: 100%;
}
.hebergementsMarseille__populaires h3 {
    align-items: center;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
    padding-top: 45px;
    padding-left: 75px;
}
.hebergementsMarseille__populaires h3 img {
    border-left: 3px solid black;
    border-bottom: 3px solid black;
    margin-right: 25px;
    padding-left: 2px;
}
.liste-populaires {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.populaire {
    text-decoration: none;
    color: inherit;
    display: block;
    display: flex;
    margin-bottom: 40px;
    background-color: white;
    border-radius: 15px;
    border: 5px solid white;
    max-width: 70%;
    margin-left: 15%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
    transform: scale(1.0);
    transition: transform 250ms;
}
.populaire:hover {
    transform: scale(1.1);
    transition: transform 250ms;
}
.photo7, .photo8, .photo9 {
    min-height: 130px;
    min-width: 35%;
    background-repeat: no-repeat;
    background-size: 180%;
    background-position: center;
    border-radius: 15px 0px 0px 15px;
}
.photo7 {
    background-image: url(../images/hebergements/2_large/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
}
.photo8 {
    background-image: url(../images/hebergements/2_large/aw-creative-VGs8z60yT2c-unsplash.jpg);
}
.photo9 {
    background-image: url(../images/hebergements/2_large/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
    background-size: 100%;
}
.populaire__texte {
    margin-left: 15px;
    margin-top: 15px;
}
.populaire__texte__titre {
    font-family: 'Raleway-Bold', sans-serif;
    font-size: 16px;
}
.populaire__texte__description {
    margin-top: 5px;
}
.populaire__texte .note img {
    margin-top: 30px;
}



/* --------- SECTION ACTIVITES MARSEILLE -------*/

#activitesMarseille {
    display: flex;
    flex-direction: column;
    height: 650px;
    margin-left: 4%;
    margin-right: 1%;
}
#activitesMarseille h4 {
    font-size: 24px;
    font-family: 'Raleway-Bold', sans-serif;
}
#activitesMarseille .activites {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 90%;
}
#activitesMarseille .activites .activite__titre {
    font-size: 16px;
    font-family: 'Raleway-Bold', sans-serif;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}
#activitesMarseille .activites .activite-solo {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 80%;
    margin-right: 3%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
    border-radius: 15px;
    transform: scale(1.0);
    transition: transform 300ms;
}
#activitesMarseille .activites .activite-solo:hover {
    transform: scale(1.05);
    transition: transform 300ms;
}
#activitesMarseille .activites .activite-duo {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-right: 3%;
}
#activitesMarseille .activites .activite__image-1 {
    background-image: url(../images/activites/1_xlarge/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 15px 15px 0px 0px;
    height: 88%;
    width: 100%;
}
.activite-duo .activite-duo-1 {
    text-decoration: none;
    color: inherit;
    height: 44%;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
    margin-bottom: 10%;
    transform: scale(1.0);
    transition: transform 300ms;
}
.activite-duo .activite-duo-1:hover {
    transform: scale(1.05);
    transition: transform 300ms;
}
.activite-duo .activite-duo-1 .activite__image-2 {
    background-image: url(../images/activites/1_xlarge/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 15px 15px 0px 0px;
    height: 78%;
    width: 100%;
    margin-bottom: 15px;
}
.activite-duo .activite-duo-2 {
    text-decoration: none;
    color: inherit;
    height: 30%;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
    transform: scale(1.0);
    transition: transform 300ms;
}
.activite-duo .activite-duo-2:hover {
    transform: scale(1.05);
    transition: transform 300ms;
}
.activite-duo .activite-duo-2 .activite__image-3 {
    background-image: url(../images/activites/1_xlarge/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: -30px -30px;
    border-radius: 15px 15px 0px 0px;
    height: 70%;
    width: 100%;
    margin-bottom: 5%;
}
#activitesMarseille .activites .activite__image-4 {
    background-image: url(../images/activites/1_xlarge/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 15px 15px 0px 0px;
    height: 88%;
    width: 100%;
}
.activite-duo .activite-duo-3 {
    text-decoration: none;
    color: inherit;
    height: 30%;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
    margin-bottom: 10%;
    transform: scale(1.0);
    transition: transform 300ms;
}
.activite-duo .activite-duo-3:hover {
    transform: scale(1.05);
    transition: transform 300ms;
}
.activite-duo .activite-duo-3 .activite__image-5 {
    background-image: url(../images/activites/1_xlarge/florian-wehde-xW9e8gdotxI-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: 120%;
    background-position: -50px -10px;
    border-radius: 15px 15px 0px 0px;
    height: 70%;
    width: 100%;
    margin-bottom: 15px;
}
.activite-duo .activite-duo-4 {
    text-decoration: none;
    color: inherit;
    height: 44%;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
    margin-bottom: 10%;
    transform: scale(1.0);
    transition: transform 300ms;
}
.activite-duo .activite-duo-4:hover {
    transform: scale(1.05);
    transition: transform 300ms;
}
.activite-duo .activite-duo-4 .activite__image-6 {
    background-image: url(../images/activites/1_xlarge/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 0px;
    border-radius: 15px 15px 0px 0px;
    height: 78%;
    width: 100%;
    margin-bottom: 5%;
}



/* -------------- SECTION FOOTER --------------*/

footer {
    margin: 0;
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 50px;
    padding-top: 30px;
}
footer section {
    width: 30%;
    display: flex;
    flex-direction: column;
}
footer section h4 {
    font-size: 18px;
    font-family: 'Raleway-Bold', sans-serif;
}
footer section ul {
    margin-left: -40px;
    margin-top: -5px;
}
footer section ul li {
    margin-bottom: 10px;
}
footer section ul li a {
    text-decoration: none;
    color: inherit;
}







